# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.class
*.jar
*.war
*.ear
*.iml
out/

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf
.idea/dictionaries
.idea/libraries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Kover
.kover/

# Models
model/
notebook/model/

# Logs
*.log

# Test Reports
test-results/
test-output/

# OS
.DS_Store
Thumbs.db
