# sbt
target/
project/target/
project/project/

# Scala
*.class
*.log

# Node
node_modules/
package-lock.json

# IDE
.idea/
!.idea/runConfigurations/
.bsp/
.metals/
.vscode/

# IntelliJ IDEA Run Configurations (shared)
!.run/

# OS
.DS_Store
